# Embeddings and vectors

In [39]:
import pandas as pd

df = pd.read_csv('words.csv')

df = df.sample(frac=1)

df

       columnA   columnB   columnC   columnD  columnE    columnF
2     southern      time     since    gently   copper       doll
0        stems      tiny       bus      wore     next     planet
4         tiny    person    planet   product   myself       tiny
5  browserling  instance  minerals     state     inch       next
1       planet      tiny    planet      swam  managed    respect
3      perhaps      dull      trip      tiny  perhaps  attention
6       planet       nor   studied  progress      ear     planet

In [102]:
from dotenv import load_dotenv  
import os

load_dotenv(dotenv_path='../cred.env')

OPENAI_API_KEY = os.getenv('OPENAI_API_KEY')

from openai import OpenAI

client = OpenAI()


def get_embeddings(text, model='text-embedding-3-small' ):
    client = OpenAI()
    text = text.replace('\n',' ')

    response = client.embeddings.create(
        input = text,
        model = model  

    )
    return response.data[0].embedding

In [40]:
df

       columnA   columnB   columnC   columnD  columnE    columnF
2     southern      time     since    gently   copper       doll
0        stems      tiny       bus      wore     next     planet
4         tiny    person    planet   product   myself       tiny
5  browserling  instance  minerals     state     inch       next
1       planet      tiny    planet      swam  managed    respect
3      perhaps      dull      trip      tiny  perhaps  attention
6       planet       nor   studied  progress      ear     planet

In [41]:
%%time

#df['embeddings'] = df['columnA'].apply(lambda x:get_embeddings(x))

for colmn in df.columns:
    df[colmn + "_embedding"]=df[colmn].apply(lambda x:get_embeddings(x))


df

CPU times: total: 12.7 s
Wall time: 29.4 s

,columnA,columnB,columnC,columnD,columnE,columnF,columnA_embedding,columnB_embedding,columnC_embedding,columnD_embedding,columnE_embedding,columnF_embedding
2,southern,time,since,gently,copper,doll,"[0.001222960534505546, -0.019330903887748718, ...","[-0.022093242034316063, -0.019265191629529, 0....","[-0.022941404953598976, -0.0347028411924839, 0...","[0.04726097732782364, 0.0008127775508910418, -...","[0.003881772980093956, -0.06735920161008835, -...","[0.026890235021710396, -0.040310684591531754, ..."
0,stems,tiny,bus,wore,next,planet,"[0.037709757685661316, 0.015447719022631645, 0...","[-0.0058580245822668076, -0.028222594410181046...","[-0.018057024106383324, -0.0018465706380084157...","[0.002562168752774596, -0.004380596801638603, ...","[-0.005242754239588976, 0.015545335598289967, ...","[0.0016884775832295418, -0.013507820665836334,..."
4,tiny,person,planet,product,myself,tiny,"[-0.005851793102920055, -0.028229447081685066,...","[0.02762443758547306, -0.04298079013824463, -0...","[0.001635947497561574, -0.013484538532793522, ...","[-0.0021464594174176455, -0.007180004846304655...","[0.033398739993572235, -0.05387407913804054, 0...","[-0.0058580245822668076, -0.028222594410181046..."
5,browserling,instance,minerals,state,inch,next,"[-0.02949296496808529, 0.011145438067615032, 0...","[-0.00925473403185606, -0.00871199555695057, -...","[-0.022444909438490868, 0.03200390934944153, 0...","[-0.017986169084906578, -0.0053034317679703236...","[0.031539808958768845, -0.028438441455364227, ...","[-0.005242754239588976, 0.015545335598289967, ..."
1,planet,tiny,planet,swam,managed,respect,"[0.0016872665146365762, -0.01349813211709261, ...","[-0.005895537324249744, -0.02821900136768818, ...","[0.0016872665146365762, -0.01349813211709261, ...","[-0.010404687374830246, 0.03816380724310875, -...","[0.06400150060653687, 0.03609146177768707, 0.0...","[0.07422041147947311, -0.022316085174679756, -..."
3,perhaps,dull,trip,tiny,perhaps,attention,"[-0.02073061466217041, -0.03273814916610718, 0...","[-0.014250528998672962, -0.008181098848581314,...","[0.0033074633684009314, -0.0004745939804706722...","[-0.005895537324249744, -0.02821900136768818, ...","[-0.02073061466217041, -0.03273814916610718, 0...","[0.0835820883512497, -0.001664588926360011, -0..."
6,planet,nor,studied,progress,ear,planet,"[0.0017207404598593712, -0.013501194305717945,...","[-0.030872942879796028, -0.004317590966820717,...","[-0.004893322940915823, -0.027588341385126114,...","[0.03139856830239296, 0.012793656438589096, 0....","[-0.0002706248196773231, -0.019589418545365334...","[0.0016571414889767766, -0.013533823192119598,..."

In [36]:
df

,columnA,columnB,columnC,columnD,columnE,columnF,columnA_embedding,columnB_embedding,columnC_embedding,columnD_embedding,columnE_embedding,columnF_embedding
5,browserling,instance,minerals,state,inch,next,"[-0.029464829713106155, 0.011172537691891193, ...","[-0.009324385784566402, -0.00872531346976757, ...","[-0.02246401645243168, 0.0320211797952652, 0.0...","[-0.018059981986880302, -0.005297121126204729,...","[0.031539808958768845, -0.028438441455364227, ...","[-0.005242754239588976, 0.015545335598289967, ..."
0,stems,tiny,bus,wore,next,planet,"[0.03770485520362854, 0.0154457101598382, 0.06...","[-0.005895537324249744, -0.02821900136768818, ...","[-0.018057024106383324, -0.0018465706380084157...","[0.002562168752774596, -0.004380596801638603, ...","[-0.005242754239588976, 0.015545335598289967, ...","[0.0016872665146365762, -0.01349813211709261, ..."
3,perhaps,dull,trip,tiny,perhaps,attention,"[-0.02073061466217041, -0.03273814916610718, 0...","[-0.014262942597270012, -0.008193743415176868,...","[0.0033074633684009314, -0.0004745939804706722...","[-0.005895537324249744, -0.02821900136768818, ...","[-0.02073061466217041, -0.03273814916610718, 0...","[0.0835820883512497, -0.001664588926360011, -0..."
4,tiny,person,planet,product,myself,tiny,"[-0.005895537324249744, -0.02821900136768818, ...","[0.027611972764134407, -0.042983442544937134, ...","[0.0016571414889767766, -0.013533823192119598,...","[-0.0021464594174176455, -0.007180004846304655...","[0.033398739993572235, -0.05387407913804054, 0...","[-0.005895537324249744, -0.02821900136768818, ..."
2,southern,time,since,gently,copper,doll,"[0.001222960534505546, -0.019330903887748718, ...","[-0.02208738774061203, -0.019231384620070457, ...","[-0.023011287674307823, -0.034682147204875946,...","[0.04722597822546959, 0.0007754807593300939, -...","[0.003881772980093956, -0.06735920161008835, -...","[0.026890235021710396, -0.040310684591531754, ..."
1,planet,tiny,planet,swam,managed,respect,"[0.0016872665146365762, -0.01349813211709261, ...","[-0.005895537324249744, -0.02821900136768818, ...","[0.0016872665146365762, -0.01349813211709261, ...","[-0.010487317107617855, 0.03815019130706787, -...","[0.06400150060653687, 0.03609146177768707, 0.0...","[0.07422041147947311, -0.022316085174679756, -..."
6,planet,nor,studied,progress,ear,planet,"[0.0016872665146365762, -0.01349813211709261, ...","[-0.030872942879796028, -0.004317590966820717,...","[-0.004940245300531387, -0.027562495321035385,...","[0.03139856830239296, 0.012793656438589096, 0....","[-0.0002706248196773231, -0.019589418545365334...","[0.0017549099866300821, -0.013497919775545597,..."

In [42]:
df.to_csv('words-embedding.csv', index=False)

# Tiktoken

In [3]:
## tiktoken helps to count token created by openai

import tiktoken

import pandas as pd

df = pd.read_csv('words-embedding.csv')

In [ ]:
cls = ~df.columns.str.contains('embedding')
        
df_text = df.loc[:,cls]

       columnA   columnB   columnC   columnD  columnE    columnF
0     southern      time     since    gently   copper       doll
1        stems      tiny       bus      wore     next     planet
2         tiny    person    planet   product   myself       tiny
3  browserling  instance  minerals     state     inch       next
4       planet      tiny    planet      swam  managed    respect
5      perhaps      dull      trip      tiny  perhaps  attention
6       planet       nor   studied  progress      ear     planet

In [ ]:
words = df_text.astype(str).stack().str.cat(sep=' ')


word_list = list(words.split(' '))

In [51]:
enc = tiktoken.encoding_for_model('text-embedding-3-small')

total_tokens =   sum ([len(enc.encode(word)) for word in word_list])

print(total_tokens)

54

In [54]:
cost_per_token = 0.02/1_000_000

total_cost = total_tokens*cost_per_token

print(f'Estimated total_cost:{total_cost :.10f}')

Estimated total_cost:0.0000010800

## Semantic Search

In [180]:
import tiktoken

import pandas as pd
pd.set_option('display.max_colwidth', 200)

df = pd.read_csv('words-embedding.csv')

In [181]:
df.columns

Index(['columnA', 'columnB', 'columnC', 'columnD', 'columnE', 'columnF',
       'columnA_embedding', 'columnB_embedding', 'columnC_embedding',
       'columnD_embedding', 'columnE_embedding', 'columnF_embedding'],
      dtype='object')

In [182]:
type(df['columnA_embedding'][0])

str

In [186]:
print(type(df['columnA_embedding']))

<class 'pandas.core.series.Series'>

In [183]:
df.columns

columns_needed = ['columnA','columnA_embedding']



df_new = df[columns_needed]

In [184]:


type(df_new['columnA_embedding'][0])

str

In [185]:
import numpy as np

##convert to numpy array

#df_new['columnA_embedding'] = df_new['columnA_embedding'].to_numpy()
#print(type(df_new['columnA_embedding']))


print(type(df_new['columnA_embedding']))

<class 'pandas.core.series.Series'>

In [187]:
df_new['columnA_embedding'] = df_new['columnA_embedding'].apply(eval).apply(np.array)

C:\Users\prach\AppData\Local\Temp\ipykernel_35676\781802400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['columnA_embedding'] = df_new['columnA_embedding'].apply(eval).apply(np.array)

In [189]:
type(df_new['columnA_embedding'][0])

numpy.ndarray

In [191]:
df['columnA_embedding'][0]

type(df_new['columnA_embedding'][0])

numpy.ndarray

In [192]:
serach_term = 'planet'

search_term_vector = get_embeddings(serach_term)

In [193]:
import numpy as np

def cosine_similarity(vector_x, vector_y):
    """
    Compute the cosine similarity between two vectors.

    Parameters:
    vector_x (array-like): First input vector.
    vector_y (array-like): Second input vector.

    Returns:
    float: Cosine similarity between vector_x and vector_y.

    Raises:
    ValueError: If the input vectors have different dimensions or if any of the vectors is zero.
    """
    # Convert inputs to NumPy arrays
    x = np.array(vector_x)
    y = np.array(vector_y)
    
    # Ensure the vectors are one-dimensional
    if x.ndim != 1 or y.ndim != 1:
        raise ValueError("Both vectors must be one-dimensional.")
    
    # Check if vectors have the same dimensions
    if x.shape[0] != y.shape[0]:
        raise ValueError("Vectors must be of the same dimensions.")
    
    # Compute the dot product of the two vectors
    dot_product = np.dot(x, y)
    
    # Compute the norm (magnitude) of each vector
    norm_x = np.linalg.norm(x)
    norm_y = np.linalg.norm(y)
    
    # Check for zero vectors to avoid division by zero
    if norm_x == 0 or norm_y == 0:
        raise ValueError("One of the vectors is zero; cosine similarity is not defined.")
    
    # Compute cosine similarity
    similarity = dot_product / (norm_x * norm_y)
    
    return similarity

In [194]:
df_new['similarity'] = df_new['columnA_embedding'].apply(lambda x:cosine_similarity(x,search_term_vector))

C:\Users\prach\AppData\Local\Temp\ipykernel_35676\2070692934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['similarity'] = df_new['columnA_embedding'].apply(lambda x:cosine_similarity(x,search_term_vector))

In [196]:
df_new.sort_values('similarity', ascending=False)

,columnA,columnA_embedding,similarity
4,planet,"[0.0016872665146365762, -0.01349813211709261, 0.005567077547311783, 0.04737579822540283, -0.014328232035040855, -0.02325480431318283, 0.004096358548849821, 0.01756441406905651, -0.0612589046359062...",1.000000
6,planet,"[0.0017207404598593712, -0.013501194305717945, 0.005571348592638969, 0.047314345836639404, -0.014343515038490295, -0.023272112011909485, 0.004088262561708689, 0.017544332891702652, -0.061224669218...",0.999999
5,perhaps,"[-0.02073061466217041, -0.03273814916610718, 0.015810584649443626, 0.014454251155257225, 0.017366377636790276, -0.01932109147310257, -0.03321685269474983, 0.041939932852983475, -0.0069611780345439...",0.329044
2,tiny,"[-0.005851793102920055, -0.028229447081685066, -0.004144860431551933, -0.01852366141974926, -0.040935762226581573, -0.01922786608338356, 0.012369519099593163, 0.06187821552157402, -0.0140994153916...",0.297024
3,browserling,"[-0.02949296496808529, 0.011145438067615032, 0.007037782575935125, -0.00318172131665051, -0.010700441896915436, -0.06002653390169144, -0.011241283267736435, 0.004908647853881121, -0.00750331673771...",0.253023
1,stems,"[0.037709757685661316, 0.015447719022631645, 0.0632345899939537, -0.035977303981781006, 0.0007985532283782959, -0.020673956722021103, -0.01526003610342741, -0.024254363030195236, 0.025337146595120...",0.252526
0,southern,"[0.001222960534505546, -0.019330903887748718, 0.003752013435587287, -0.0026860793586820364, -0.000789289886597544, -0.013212407007813454, 0.008276228792965412, 0.026277024298906326, -0.00655817193...",0.188069

In [213]:
df_new

,columnA,columnA_embedding,similarity
0,southern,"[0.001222960534505546, -0.019330903887748718, 0.003752013435587287, -0.0026860793586820364, -0.000789289886597544, -0.013212407007813454, 0.008276228792965412, 0.026277024298906326, -0.00655817193...",0.188069
1,stems,"[0.037709757685661316, 0.015447719022631645, 0.0632345899939537, -0.035977303981781006, 0.0007985532283782959, -0.020673956722021103, -0.01526003610342741, -0.024254363030195236, 0.025337146595120...",0.252526
2,tiny,"[-0.005851793102920055, -0.028229447081685066, -0.004144860431551933, -0.01852366141974926, -0.040935762226581573, -0.01922786608338356, 0.012369519099593163, 0.06187821552157402, -0.0140994153916...",0.297024
3,browserling,"[-0.02949296496808529, 0.011145438067615032, 0.007037782575935125, -0.00318172131665051, -0.010700441896915436, -0.06002653390169144, -0.011241283267736435, 0.004908647853881121, -0.00750331673771...",0.253023
4,planet,"[0.0016872665146365762, -0.01349813211709261, 0.005567077547311783, 0.04737579822540283, -0.014328232035040855, -0.02325480431318283, 0.004096358548849821, 0.01756441406905651, -0.0612589046359062...",1.000000
5,perhaps,"[-0.02073061466217041, -0.03273814916610718, 0.015810584649443626, 0.014454251155257225, 0.017366377636790276, -0.01932109147310257, -0.03321685269474983, 0.041939932852983475, -0.0069611780345439...",0.329044
6,planet,"[0.0017207404598593712, -0.013501194305717945, 0.005571348592638969, 0.047314345836639404, -0.014343515038490295, -0.023272112011909485, 0.004088262561708689, 0.017544332891702652, -0.061224669218...",0.999999

In [ ]:
## chunking of given data
from langchain.text_splitter import RecursiveCharacterTextSplitter

def chunk_text(text, overlap=1000):

    text_splitter = RecursiveCharacterTextSplitter(
        chunk_size=1000,
        chunk_overlap=overlap,
        separators=["\n\n", "\n", " ", ""]
    )
    chunks = text_splitter.split_text(text)
    return chunks